<div>
  <h1 class="container text-center">Welcome to Welp</h1>
  <h3 class="text-center">Minimize your wait time and dine in faster.</h3>

  <div class="container">
    <refresh-btn></refresh-btn>
    <div id="map"></div>
    <hr>
    <div class="container text-center">
      <h2 class="subtitle">Register Now</h2>
      <div class="row text-center flex-center">
        <div>If you are an owner of a restaurant, sign up to input your restaurant's wait time live!</div>
        <button id="register-btn" class="btn text-center">Register &raquo;</button>
      </div>
    </div>
  </div>

  <map></map>
</div>